In [10]:
import pandas as pd
import boto3
import json
import psycopg2
import configparser
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

# STEP 0: Make sure you have an AWS secret and access key

- Create a new IAM user in your AWS account
- Give it `AdministratorAccess`, From `Attach existing policies directly` Tab
- Take note of the access key and secret 
- Edit the file `dwh.cfg` in the same folder as this notebook and fill
<font color='red'>
<BR>
[AWS]<BR>
KEY= YOUR_AWS_KEY<BR>
SECRET= YOUR_AWS_SECRET<BR>
<font/>

In [1]:
%load_ext sql

In [2]:
conn_string="postgresql://{}:{}@{}:{}/{}".format('awsuser','Lolling172$', 'redshift-cluster.cfahovqnjdhm.us-west-2.redshift.amazonaws.com', '5439', 'dev')
print(conn_string)
%sql $conn_string

postgresql://awsuser:Lolling172$@redshift-cluster.cfahovqnjdhm.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

In [4]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster.cfahovqnjdhm.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 5, 52), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 11, 13), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 24, 53), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 42), 21, 1, 44, 11, 2018, 4)]

In [5]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster.cfahovqnjdhm.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(1, datetime.datetime(2018, 11, 21, 21, 56, 47), 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (2, datetime.datetime(2018, 11, 24, 12, 43), 73, 'paid', 'SONQBUB12A6D4F8ED0', 'ARFCUN31187B9AD578', 692, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (5, datetime.datetime(2018, 11, 8, 15, 1, 57), 29, 'paid', 'SOFVOQL12A6D4F7456', 'ARPN0Y61187B9ABAA0', 372, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (6, datetime.datetime(2018, 11, 27, 18, 9, 11), 49, 'paid', 'SOCHRXB12A8AE48069', 'ARTDQRC1187FB4EFD4', 987, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (9, datetime.datetime(2018, 11, 26, 15, 33, 56), 72, 'paid', 'SODOLVO12B0B80B2F4', 'AR6XPWV1187B9ADAEB', 381, 'Detroit-Warren-Dearborn, MI', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:30.0) Gecko/20100101 Firefox/30.0')]

In [6]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster.cfahovqnjdhm.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(8, 'Kaylee', 'Summers', 'F', 'free'),
 (11, 'Christian', 'Porter', 'F', 'free'),
 (12, 'Austin', 'Rosales', 'M', 'free'),
 (14, 'Theodore', 'Harris', 'M', 'free'),
 (15, 'Lily', 'Koch', 'F', 'paid')]